
header, nav, main, body{
    max-width: 750px;
    margin: auto; /*centers on page*/
}

nav{
    margin: 0 auto;
    width: 300px;
    clear: both;
    padding-top: 50px;
    }

nav ul {
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

nav li{
    display: inline; /*makes words horizontal since default is verticle*/
    float: left; /*gets the blocks to float next to each other*/
    background-color: #3AAFA9;
    color: #FEFFFF;
}

nav ul li {
    display: block;
    text-align: center; /*centers text to middle of li element*/
}

nav ul li a {
    display: block;/*makes whole link a box to click not just the word*/
    padding: 10px 10px;
    width: 128px;  /* makes link boxes larger to that they are centered*/
    font-size: 85%;
    text-decoration: none; /*removes line under link*/
}

nav ul li a:hover {
    background-color: #FEFFFF; /*when mouse is on nav link it will be this color*/
    color: #17252A;
}

nav ul li.active a {
    background-color: #17252A; /*makes current page link blue*/
    color: #FEFFFF;
}

.grid-container {
    width: 650px;
    display: grid;
    grid-template-columns: auto auto;
    padding: 50px;
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 85%;
  text-align: center;
  height: 300px;
  width: 300px;
}

#animationOne {
  width: 300px;
  height: 275px;
  background-color: red;
}

#animationTwo {
 width: 300px;
  height: 275px;
  background-color: red;
}

#animationThree {
    width: 3px;
    height: 275px;
    background-color: red;
    vertical-align: middle;
    text-align: center;
    font-size: 34px;
    overflow: hidden; /*hides contents in div*/
}

#animationFour {
 width: 300px;
  height: 5px;
  background-color: red;
}

#height{
    position: relative;
    top: 275px;
}

#animationFive {
    height: 100px;
    width: 100px;
  border-radius: 100%;
  background: red;
    animation: running;

}

#animationSix {
 width: 300px;
  height: 275px;
  background-color: red;
 animation: boxSix 15.0s linear 3;
}

@keyframes boxFive{
    0% { transform: translateX(0px); }
    25% { transform: translateX(200px);}
    50% { transform: translateX(200px) translateY(200px);}
    75% { transform: translateX(0px) translateY(200px);}
    100%{ transform: translateX(0px) translateY(0px); }
    }

@keyframes boxSix{
    0% { border-radius: 100%; background: purple;}
    20% {border-radius: 0%; background: blue;}
    40% {border-radius: 100%; background: green;}
    60% {border-radius: 0%; background: yellow;}
    80% {border-radius: 100%; background: orange;}
    100% {border-radius: 0%; background: red;}
}
