html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

body {
    width: 900px;
    margin: 0 auto;
}

nav{
    margin: 0 auto;
    width: 300px;
    clear: both;
    padding-top: 50px;
    }

nav ul {
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

nav li{
    display: inline; /*makes words horizontal since default is verticle*/
    float: left; /*gets the blocks to float next to each other*/
    background-color: #3AAFA9;
    color: #FEFFFF;
}

nav ul li {
    display: block;
    text-align: center; /*centers text to middle of li element*/
}

nav ul li a {
    display: block;/*makes whole link a box to click not just the word*/
    padding: 10px 10px;
    width: 128px;  /* makes link boxes larger to that they are centered*/
    font-size: 85%;
    text-decoration: none; /*removes line under link*/
}

nav ul li a:hover {
    background-color: #FEFFFF; /*when mouse is on nav link it will be this color*/
    color: #17252A;
}

nav ul li.active a {
    background-color: #17252A; /*makes current page link blue*/
    color: #FEFFFF;
}

#div2 {
	background-color: darkseagreen;
    font-size: 2em;
    padding: 10px;
    margin: 35px;
    border-width:5px;
    border-color: black;
}

h1{
    text-align: center;
}


.grid-container {
    width: 530px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    float: left;
}

#grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 30px;
  text-align: center;
  height: 155px;
  width: 155px;
}

#colorpage{
    clear: right;
    margin-left: 40px;
}

