/*CIT 261 - Assignmet Portal CSS Template*/

h1 {
    text-align: center;
    background-color: darkgreen;
    color: ghostwhite;
    font-size: 40px;
}

table {
    width: 70%;
    margin: auto;
}

caption {
    padding-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
}

thead {
    border: 5px solid black;
}

th,tr,td {
    text-align: left;
    padding: 5px
}

tr:nth-child(odd){
  background-color: darkseagreen;
}

