header, nav, main, body{
    max-width: 930px;
    margin: auto; /*centers on page*/
}

.h1{
    height: 50px; /*keeping changes from moving other things on the screen*/
    margin: 20px 20px;
}

h1{
    font-family: cursive;
    text-align: center;
    animation-name: fontChange;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    animation-timing-function: linear;
}

h2{
    text-align: center;
}

.navbar {
  width: 90%;
  background-color: orchid;
  overflow: auto;
  margin: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  width: 30.4%;
  text-align: center;
  transition: background-color 1s, color 1s, font-size 1s;
  min-height: 30px;
}

img{
    padding-top: 50px;
}

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  font-size: 25px;
}

.btn{
    background-color: #f7e6fa;
    border-radius: 12px;
    padding: 10px 24px;
    margin: 5px;
}

.btn:hover{
    box-shadow: 1px 1px #53a7ea, 2px 2px #53a7ea, 3px 3px #53a7ea;
    transform: translateX(-3px);
}

#rotate{
    width: 240px;
    height: 365px;
    margin: 30px 31px 30px 30px;
    float: left;
    vertical-align: middle;
}

#rotate > .front{
    position: absolute;
    transform: perspective(600px) rotateY(0deg);
    transition: transform .5s linear 0s;
    background: rgba(243, 218,247);
    width: 245px;
    height: 200px;
    border-radius: 7px;
    border-style: solid;
    backface-visibility: hidden; /*so you can't see other side of card when turns and will see the other card*/
    text-align: center;
}

#rotate > .back{
    position: absolute;
    transform: perspective(600px) rotateY(180deg);
    transition: transform .5s linear 0s;
    background: orchid;
    width: 245px;
    height: 200px;
    font-size: 22px;
    border-radius: 7px;
    border-style: solid;
    backface-visibility: hidden; /*so you can't see other side of card when turns and will see the other card*/
    text-align: center;
}

#rotate:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
}

#rotate:hover > .back{
    transform: perspective(600px) rotateY(0deg);
    z-index: 15;
}

.flip{
    padding: 10px;
    height: 440px;
}

.colorSelect{
    float: left;
    text-align: center;
    animation-name: colorEntrance;
    animation-duration: 2s;
}

 input[type=text], select {
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border-radius: 4px;
      box-sizing: border-box;
      width: 200px;
     transition: width .35s ease-in-out;
}

#input:focus{
    width: 650px;
    box-shadow:1px 1px #53a7ea, 2px 2px #53a7ea, 3px 3px #53a7ea;
}

li{
    animation-name: shake;
    animation-duration: .3s;
    animation-iteration-count: 1;
}

@keyframes fontChange{
    0% {font-family: cursive;}
    20% {font-family: sans-serif; color: #DA9FEE;}
    40% {font-family: monospace; color: #6D5077;}
    60% {font-family: fantasy; color: #A477B3;}
    80% {font-family: cursive; color: #523C59;}
    100% {font-family:serif; color: #886395;}

}

@keyframes shake{
 0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -1px) rotate(-0deg); }
  20% { transform: translate(-1px, 0px) rotate(0deg); }
  30% { transform: translate(1px, 1px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(0deg); }
  50% { transform: translate(-1px, 1px) rotate(-0deg); }
  60% { transform: translate(-1px, 1px) rotate(0deg); }
  70% { transform: translate(1px, 1px) rotate(-0deg); }
  80% { transform: translate(-1px, -1px) rotate(0deg); }
  90% { transform: translate(1px, 1px) rotate(0deg); }
  100% { transform: translate(1px, -1px) rotate(-0deg); }
}

@keyframes colorEntrance{
    0%{left: -300px; opacity: 0; border-radius: 45px;}
    50%{left: -150px; opacity: 0.5; border-radius: 15px;}
    100%{left: 0; opacity: 1;}
}


